/* Fonts */

//PT_Sans
@font-face {
  font-family: 'Digital7';
  font-weight: 300;
  src: url('../assets/user/fonts/digital-7/digital-7.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Digital7';
  font-weight: 400;
  src: url('../assets/user/fonts/digital-7/digital-7.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Digital7';
  font-weight: 500;
  src: url('../assets/user/fonts/digital-7/digital-7.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Digital7';
  font-weight: 700;
  src: url('../assets/user/fonts/digital-7/digital-7.ttf'); /* IE9 Compat Modes */
}
